.header {
    font-size: 17px;
}

.detail-employee {
    text-decoration: underline;
    color: white;
}

.detail-employee:hover {
    text-decoration: underline;
    color: #17a2b8;
}

.edit-btn:hover {
    color: #17a2b8;
}

.delete-btn:hover {
    color: #17a2b8;
}