<mat-card ngClass="card-content p-4">
    <section class="mat-typography title-group">
      <h1>{{title}}</h1>
    </section>
    <hr>
    <form (ngSubmit)="onSubmit()" [formGroup]="form">
        <div class="form-group">
            <label for="first_name">First Name</label>
            <input 
                type="text"
                ngClass="form-control"
                name="first_name"
                id="first_name"
                formControlName="first_name"
                [(ngModel)]="employee!.firstName">
            <div *ngIf="f.first_name.touched && f.first_name.invalid" class="alert alert-danger">
                <div *ngIf="f.first_name.errors?.required">First Name Required</div>
            </div>
        </div>
        <div class="form-group">
            <label for="last_name">Last Name</label>
            <input 
                type="text"
                ngClass="form-control"
                name="last_name"
                id="last_name"
                formControlName="last_name"
                [(ngModel)]="employee.lastName">
            <div *ngIf="f.last_name.touched && f.last_name.invalid" class="alert alert-danger">
                <div *ngIf="f.last_name.errors?.required">Last Name Required</div>
            </div>
        </div>
        <div class="form-group">
            <label for="phone">Phone</label>
            <input 
                knifeOnlyNumbers
                type="text"
                ngClass="form-control"
                name="phone"
                id="phone"
                formControlName="phone"
                [(ngModel)]="employee.phone">
            <div *ngIf="f.phone.touched && f.phone.invalid" class="alert alert-danger">
                <div *ngIf="f.phone.errors?.required">Phone Required</div>
            </div>
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input 
                type="text"
                ngClass="form-control"
                name="email"
                id="email"
                formControlName="email"
                [(ngModel)]="employee.email">
            <div *ngIf="f.email.touched && f.email.invalid" class="alert alert-danger">
                <div *ngIf="f.email.errors?.required">Email Required</div>
                <div *ngIf="f.email.errors?.email">Wrong Email Format</div>
            </div>
        </div>
        
        <button 
            mat-raised-button class="button submit" 
            type="submit" 
            [disabled]="form.invalid"
            *ngIf="!isViewOnly">Submit
        </button>
        <button mat-raised-button class="button back" (click)="redirectBack()">Back</button>
    </form>
</mat-card>